# Untitled object in undefined Schema

```txt
undefined
```




| Abstract            | Extensible | Status         | Identifiable | Custom Properties | Additional Properties | Access Restrictions | Defined In                                                                             |
| :------------------ | ---------- | -------------- | ------------ | :---------------- | --------------------- | ------------------- | -------------------------------------------------------------------------------------- |
| Can be instantiated | Yes        | Unknown status | No           | Forbidden         | Forbidden             | none                | [test_result.schema.json](../../../out/test_result.schema.json "open original schema") |

## Untitled object in undefined Type

`object` ([Details](test_result.md))

# undefined Properties

| Property                              | Type      | Required | Nullable       | Defined by                                                                                             |
| :------------------------------------ | --------- | -------- | -------------- | :----------------------------------------------------------------------------------------------------- |
| [\_type](#_type)                      | `string`  | Required | cannot be null | [Untitled schema](test_result-properties-_type.md "undefined#/properties/\_type")                      |
| [duration](#duration)                 | `number`  | Optional | cannot be null | [Untitled schema](test_result-properties-duration.md "undefined#/properties/duration")                 |
| [durations](#durations)               | `object`  | Optional | cannot be null | [Untitled schema](test_result-properties-durations.md "undefined#/properties/durations")               |
| [error](#error)                       | `object`  | Optional | cannot be null | [Untitled schema](test_result-properties-error.md "undefined#/properties/error")                       |
| [file](#file)                         | `string`  | Optional | cannot be null | [Untitled schema](test_result-properties-file.md "undefined#/properties/file")                         |
| [id](#id)                             | `string`  | Required | cannot be null | [Untitled schema](test_result-properties-id.md "undefined#/properties/id")                             |
| [line](#line)                         | `integer` | Optional | cannot be null | [Untitled schema](test_result-properties-line.md "undefined#/properties/line")                         |
| [logs](#logs)                         | `string`  | Optional | cannot be null | [Untitled schema](test_result-properties-logs.md "undefined#/properties/logs")                         |
| [outcome](#outcome)                   | `string`  | Required | cannot be null | [Untitled schema](test_result-properties-outcome.md "undefined#/properties/outcome")                   |
| [skipped_messages](#skipped_messages) | `object`  | Optional | cannot be null | [Untitled schema](test_result-properties-skipped_messages.md "undefined#/properties/skipped_messages") |
| [stderr](#stderr)                     | `string`  | Optional | cannot be null | [Untitled schema](test_result-properties-stderr.md "undefined#/properties/stderr")                     |
| [stdout](#stdout)                     | `string`  | Optional | cannot be null | [Untitled schema](test_result-properties-stdout.md "undefined#/properties/stdout")                     |
| [test_name](#test_name)               | `string`  | Optional | cannot be null | [Untitled schema](test_result-properties-test_name.md "undefined#/properties/test_name")               |

## \_type




`_type`

-   is required
-   Type: `string`
-   cannot be null
-   defined in: [Untitled schema](test_result-properties-_type.md "undefined#/properties/\_type")

### \_type Type

`string`

### \_type Constraints

**enum**: the value of this property must be equal to one of the following values:

| Value           | Explanation |
| :-------------- | ----------- |
| `"test_result"` |             |

## duration




`duration`

-   is optional
-   Type: `number`
-   cannot be null
-   defined in: [Untitled schema](test_result-properties-duration.md "undefined#/properties/duration")

### duration Type

`number`

## durations




`durations`

-   is optional
-   Type: `object` ([Details](test_result-properties-durations.md))
-   cannot be null
-   defined in: [Untitled schema](test_result-properties-durations.md "undefined#/properties/durations")

### durations Type

`object` ([Details](test_result-properties-durations.md))

## error




`error`

-   is optional
-   Type: `object` ([Details](test_result-properties-error.md))
-   cannot be null
-   defined in: [Untitled schema](test_result-properties-error.md "undefined#/properties/error")

### error Type

`object` ([Details](test_result-properties-error.md))

## file




`file`

-   is optional
-   Type: `string`
-   cannot be null
-   defined in: [Untitled schema](test_result-properties-file.md "undefined#/properties/file")

### file Type

`string`

## id




`id`

-   is required
-   Type: `string`
-   cannot be null
-   defined in: [Untitled schema](test_result-properties-id.md "undefined#/properties/id")

### id Type

`string`

## line




`line`

-   is optional
-   Type: `integer`
-   cannot be null
-   defined in: [Untitled schema](test_result-properties-line.md "undefined#/properties/line")

### line Type

`integer`

## logs




`logs`

-   is optional
-   Type: `string`
-   cannot be null
-   defined in: [Untitled schema](test_result-properties-logs.md "undefined#/properties/logs")

### logs Type

`string`

## outcome




`outcome`

-   is required
-   Type: `string`
-   cannot be null
-   defined in: [Untitled schema](test_result-properties-outcome.md "undefined#/properties/outcome")

### outcome Type

`string`

## skipped_messages




`skipped_messages`

-   is optional
-   Type: `object` ([Details](test_result-properties-skipped_messages.md))
-   cannot be null
-   defined in: [Untitled schema](test_result-properties-skipped_messages.md "undefined#/properties/skipped_messages")

### skipped_messages Type

`object` ([Details](test_result-properties-skipped_messages.md))

## stderr




`stderr`

-   is optional
-   Type: `string`
-   cannot be null
-   defined in: [Untitled schema](test_result-properties-stderr.md "undefined#/properties/stderr")

### stderr Type

`string`

## stdout




`stdout`

-   is optional
-   Type: `string`
-   cannot be null
-   defined in: [Untitled schema](test_result-properties-stdout.md "undefined#/properties/stdout")

### stdout Type

`string`

## test_name




`test_name`

-   is optional
-   Type: `string`
-   cannot be null
-   defined in: [Untitled schema](test_result-properties-test_name.md "undefined#/properties/test_name")

### test_name Type

`string`

# Untitled object in undefined Definitions
